<form action="/auth/login" method="POST">
      <div class="row">
        <div >
          <input placeholder="username" id="username" name="username" type="text" required>
        </div>
        <div >
          <input placeholder="******" id="password" name="password" type="password"  required>
        </div>
        <div >
          <input class="waves-effect waves-light btn" type="submit" value="Login" />
        </div>
        <div class="nav-wrapper container"><a id="logo-container" href="/auth/forget-password" >Forgot Password</a>
      </div>
</form>

